#tweet1, #tweet2, #tweet3 {
  color: black;
  height: 60px;
}

.card {
  border: 1px solid black;
}

label {
  margin-top: 10px;
}

.jumbotron {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
